.App {
  text-align: center;
  min-height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.AppBarContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.AppBarTitle {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.AppBarLinks {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.AppBarButtons {
  font-weight: bold;
  margin-left: 10px;
}

.HomePageContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  min-height: 100vh;
  
  background-color: #797B84;
}


@media (max-width: 800px) {
  .HomePageContent {
    flex: 100%;
    margin-top: 60.4px;
    
  }

  .HomePageContent > img {
    width: 50% !important;
    margin-top: 10%;
  }

  .HomePageContent > div {
    width: 60% !important;
    text-align: center !important;
   
  }
}

@media (max-width: 1500px) and (min-width: 801px) {
  .HomePageContent {
    flex: 100%;
    margin-top: 60.4px;
    
  }

  .HomePageContent > img {
    width: 30% !important;
    margin-top: 10%;
  }

  .HomePageContent > div {
    width: 60% !important;
    text-align: center !important;
   
  }
}


